.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  width: 100%;
  margin-bottom: 2rem;
}

.list th {
  text-align: start;
}

.list th,
.list td {
  padding: 0.5rem;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}